<ion-content>
  <div *ngIf="usuario">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-padding ion-text-center" color="primary">
        <ion-buttons>
          <ion-back-button defaultHref="home"></ion-back-button>
          <div><img src="/assets/img/logo-fcamara-negativo.png" alt="Logo do Grupo FCamara">
            <h1>Meus Agendamentos</h1>
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div *ngIf="quantidadeAgendamentos > 0;else semAgendamento">
      <ion-card color="primary" class="ion-text-center">
        <ion-text>Existem {{quantidadeAgendamentos}} agendamentos realizados</ion-text>
      </ion-card>

      <ion-row class="legenda">
        <ion-col size="4">Data</ion-col>
        <ion-col size="3">Unidade</ion-col>
        <ion-col size="3">Status</ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-list *ngFor="let agendamento of usuario.agendamentos">
        <ion-row>
          <ion-icon button slot="end" name="trash-outline"></ion-icon>
          <ion-col size="4">{{agendamento.data}}:</ion-col>
          <ion-col size="3">{{agendamento.unidade}}</ion-col>
          <ion-col size="3">{{agendamento.status}}</ion-col>
          <ion-col size="1" button (click)="deletar(agendamento.id)">
            <ion-icon class="lixo" color="danger" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>

  </div>
</ion-content>

<ng-template #semAgendamento>
  <ion-text color="medium" class="ion-text-center">
    <h1>
      <ion-icon slot="start" name="sad-outline" style="font-size: 2em;"></ion-icon>
    </h1>
    <p style="margin: 15px;">Você ainda não possui agendamentos.</p>
  </ion-text>
</ng-template>
