<ion-content>
  <div *ngIf="usuario">

    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-padding ion-text-center" color="primary">
        <ion-buttons>
          <ion-back-button defaultHref="home"></ion-back-button>
          <div><img src="/assets/img/logo-fcamara-negativo.png" alt="Logo do Grupo FCamara">
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div *ngIf="quantidadeAgendamentos > 0 ;else semAgendamento">
      <div class="agendamento-title">
        <h1>Meus Agendamentos</h1>
      </div>
      <ion-card color="primary" class="ion-text-center">
        <ion-text *ngIf="quantidadeAgendamentos > 1;else umAgendamento">{{quantidadeAgendamentos}} agendamentos realizados</ion-text>
        <ng-template #umAgendamento>
          <ion-text>Apenas 1 agendamento encontrado</ion-text>
        </ng-template>
      </ion-card>

      <div class="ion-text-center agendamento-container">
        <ion-row class="ion-margin">
          Agendamentos Futuros
        </ion-row>
        <ion-row class="legenda">
          <ion-col size="5">Data</ion-col>
          <ion-col size="5">Unidade</ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        <ion-list *ngFor="let agendamento of usuario.agendamentos">
          <div *ngIf="agendamento.data > diaHoje">
            <ion-row>
              <ion-col size="5">{{agendamento.data}}:</ion-col>
              <ion-col size="5">{{agendamento.unidade}}</ion-col>
              <ion-col size="2" button (click)="deletar(agendamento.id, agendamento.data, agendamento.unidade)">
                <ion-icon class="lixo" color="light" name="trash-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-list>
      </div>

      <div class="ion-text-center agendamento-container">
        <ion-row class="ion-margin">
          Agendamentos Passados
        </ion-row>
        <ion-row class="legenda">
          <ion-col size="5">Data</ion-col>
          <ion-col size="5">Unidade</ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        <ion-list *ngFor="let agendamento of usuario.agendamentos">
          <div *ngIf="agendamento.data <= diaHoje">
            <ion-row>
              <ion-col size="5">{{agendamento.data}}:</ion-col>
              <ion-col size="5">{{agendamento.unidade}}</ion-col>
            </ion-row>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #semAgendamento>
  <ion-text color="medium" class="ion-text-center">
    <h1>
      <ion-icon slot="start" name="sad-outline" style="font-size: 5em;"></ion-icon>
    </h1>
    <p style="margin: 15px; font-weight: bold; color: black; font-family: Montserrat-Bold; font-size: 1.5rem;">Você ainda não possui agendamentos.</p>
  </ion-text>
</ng-template>
