ion-toolbar {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
  }
}

.ios ion-back-button {
  font-size: 20px;
  margin-right: 10px;
}

.md ion-back-button {
  font-size: 50px;
  margin-right: 30px;
}

.agendamento-title {
  text-align: center;
  margin: 30px auto;
  color: var(--ion-color-secondary-shade);

  h1 {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
  }
}

ion-card{
  padding: 10px;
  ion-text{
    font-size: 15pt;
    font-family: Montserrat-SemiBold;
  }
}

.legenda{
  ion-col{
    font-family: Montserrat-Bold;
  }
}

ion-col{
  text-align: center;
  color: var(--ion-color-primary);;
}

.lixo{
  font-size: x-large;
}

ion-item{
  width: 300px;
}
