ion-toolbar{
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: auto;
        width: 180px;
        display: block;
    }
    
    h1 {
        color: white;
        font-family: Montserrat-Bold;
        margin-bottom: 20px;
        font-size: large;
    }
 }

.ios ion-back-button {
    font-size: 20px;
    margin-right: 10px;
}

.md ion-back-button{
    font-size: 50px;
    margin-right: 30px;
}

.agendamento-title {
  text-align: center;
  margin: 30px auto;
  color: var(--ion-color-secondary-shade);

  h1 {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
  }
}

.info{
    color: var(--ion-color-primary);;
    text-decoration: underline;
}

.step{
    font-family: Montserrat-SemiBold;
    color: var(--ion-color-secondary);;
    margin: 50px 20px 30px 20px;
    
}

.nomeUni{
    font-family: Montserrat-Bold;
}

.detalhesUni{
    font-family: Montserrat-SemiBold;
}

ion-button{
    margin: 30px;
}

.step {
    color: #ff4500;
} 

.unit-name{
    color: #ff4500;
    font-weight: bold;
    font-family: Montserrat-Bold;
}

.day{
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
}

ion-datetime{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}

ion-button{
    height: 50px;
}

.info{
    font-weight: bold;
    font-size: 1.35rem;
    cursor: pointer;
}