<ion-content>
  <div *ngIf="unidades && porcentagensCovid && usuario">

    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-padding ion-text-center" color="primary">
        <ion-buttons>
          <ion-back-button defaultHref="home"></ion-back-button>
          <div><img src="/assets/img/logo-fcamara-negativo.png" alt="Logo do Grupo FCamara">
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="agendamento-title">
      <h1>Realizar Agendamento</h1>
    </div>

    <ion-list class="agendamento-container">
      <ion-radio-group [(ngModel)]="escolhaUnidade">
        <h3 class="ion-text-center step">Escolha uma unidade da FCamara</h3>
        <ion-item *ngFor="let unidade of unidades">
          <ion-label class = "unit-name">{{unidade.nome}}</ion-label>
          <ion-radio class = "ion-radio-option" mode="md" slot="start" [value]="unidade.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div *ngIf="focado === 0; else verMais">
      <p class="info ion-text-center" button (click)="focar()">Mais Informações</p>
      <div *ngIf="escolhaUnidade != null" class="agendamento-container">
        <h3 class="ion-text-center step">Escolha um dia para agendar</h3>
        <ion-item>
          <ion-label class = "day">Dia:</ion-label>
          <ion-datetime displayFormat="DDD DD MM YYYY" pickerFormat="DDD DD MM YYYY" [min]="[diaMin]" [max]="[diaMax]"
            [dayShortNames]="customDaysName" [(ngModel)]="escolhaDia"></ion-datetime>
        </ion-item>
      </div>
      <div *ngIf="escolhaDia != null">
        <h3 class="ion-text-center step">Concluir agendamento</h3>
        <ion-button expand="block" (click)="aviso()">
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          Agendar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #verMais>
  <p class="info ion-text-center" button (click)="focar()">Minimizar Informações</p>
  <div *ngFor="let unidade of unidades">
    <ion-card class="ion-padding" color="primary">
      <h1 class="ion-text-center ion-no-margin nomeUni">{{unidade.nome}}</h1>
      <div class="detalhesUni">
        <p>Endereço: {{unidade.endereco}}</p>
        <p>Horario de funcionamento: {{unidade.horario}}</p>
        <p style="text-decoration: underline;">Capacidade Máxima: {{unidade.capacidadeMax}}</p>
        <p style="text-decoration: underline;">Capacidade Covid: {{unidade.capacidadeCovid}}</p>
      </div>
    </ion-card>
  </div>
</ng-template>
