<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <img src="/assets/img/logo-fcamara-laranja.png" alt="Logo do Grupo FCamara">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="unidades">
    <ion-list>
      <ion-radio-group [(ngModel)]="escolha">
        <ion-list-header>Escolha uma unidade:</ion-list-header>
        <ion-item *ngFor="let unidade of unidades">
          <ion-label>{{unidade.nome}} {{unidade.capacidadeMax}} {{unidade.capacidadeCovid}}</ion-label>
          <ion-radio slot="start" [value]="[unidade.nome]"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div *ngIf="focado === 0; else verMais">
      <ion-button fill="clear" (ionFocus)="focar()">
        Mais Informações
      </ion-button>
      <h1>{{escolha}}</h1>
      <div *ngIf="escolha != null">
        <h1>Texto escondido</h1>
      </div>
      <div><!--</div><div *ngIf="dia != null">-->
        <ion-button expand="block">
          Concluir agendamento
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #verMais>
  <ion-button fill="clear" (ionFocus)="focar()">
    Minimizar Informações
  </ion-button>
  <div *ngFor="let unidade of unidades">
    <h1>{{unidade.nome}}</h1>
    <p>{{unidade.descricao}}</p>
  </div>
</ng-template>
