<ion-content>
  <ion-header class="ion-no-border">
    <ion-card>
      <img src="/assets/img/logo-fcamara-negativo.png" alt="Logo do Grupo FCamara">
    </ion-card>
  </ion-header>

  <div style="margin-top: 160px;">
    <div class="segment">
      <ion-segment value="login" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cadastro">
          <ion-label>Cadastro</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-slides class="swiper-no-swiping" style="margin-top: 30px;">
      <ion-slide>
        <div>
          <span class="titulo">Realizar Login</span>
          <div class="input-container">
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">E-Mail: </ion-label>
              <ion-input type="email" [(ngModel)]="usuarioLogin.email" class="input-item" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">Senha: </ion-label>
              <ion-input type="password" [(ngModel)]="usuarioLogin.senha" class="input-item" required></ion-input>
            </ion-item>
          </div>
          <ion-button expand="block" (click)="login()">
            Login
          </ion-button>
        </div>
        <ion-text class="textoLema">Transformação cultural, digital e cognitiva!</ion-text>
      </ion-slide>
      <ion-slide>
        <div>
          <span class="titulo">Realizar Cadastro</span>
          <div class="input-container">
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">Nome: <span class="input-required">*</span></ion-label>
              <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" class="input-item" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">Sobrenome: <span class="input-required">*</span></ion-label>
              <ion-input type="text" [(ngModel)]="usuarioCadastro.sobrenome" class="input-item" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">Celular:</ion-label>
              <ion-input type="tel" [(ngModel)]="usuarioCadastro.celular" class="input-item"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">CPF: <span class="input-required">*</span></ion-label>
              <ion-input type="number" [(ngModel)]="usuarioCadastro.cpf" class="input-item" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">E-Mail: <span class="input-required">*</span></ion-label>
              <ion-input type="email" [(ngModel)]="usuarioCadastro.email" class="input-item" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" class="input-label">Senha: (Min 6 caracteres) <span class="input-required">*</span></ion-label>
              <ion-input type="password" [(ngModel)]="usuarioCadastro.senha" class="input-item" required></ion-input>
            </ion-item>
          </div>
          <p>(*) Campos obrigatórios</p>
          <ion-button expand="block" (click)="cadastrar()">
            Cadastrar
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


</ion-content>
