ion-toolbar {
  border-radius: 0px;
  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: auto;
    width: 180px;
    display: block;
  }
  h1 {
    color: white;
    font-family: Montserrat-Bold;
    margin-bottom: 20px;
  }
}

.ios ion-menu-button {
  font-size: 50px;
  color: white;
  margin-right: 10px;
}

.md ion-menu-button {
  font-size: 50px;
  color: white;
  margin-right: 20px;
}

ion-button {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-title {
  text-align: center;
  margin: 30px auto;
  color: var(--ion-color-primary-shade);

  h1 {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
  }
}

.home-agendamento {
  min-height: 5em;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 60%);
  border-radius: 10px;
  
  &-btn {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
  }

  &-txt {
    font-size: 1.3em;
  }
}
.menuLateral{
  ion-list{
    --background-color: var(--ion-color-primary);;
    margin-top: 20px;
    padding: 0px;
  }
  ion-item{
    --background: var(--ion-color-primary);;
    color: white;
    ion-icon{
      font-size: xx-large;
      color: white;
    }
    ion-label{
      font-size: medium;
    }
  }
}



