<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large" class="primaria">
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1 class="primaria" style="font-family: Montserrat;">Montserrat</h1>
  <h1 class="segundaria" style="font-family: Montserrat; font-style: italic;">Montserrat Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-Black;">Montserrat-Black</h1>
  <h1 class="segundaria" style="font-family: Montserrat-Black; font-style: italic;">Montserrat-Black Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-SemiBold;">Montserrat-SemiBold</h1>
  <h1 class="segundaria" style="font-family: Montserrat-SemiBold; font-style: italic;">Montserrat-SemiBold Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-Bold;">Montserrat-Bold</h1>
  <h1 class="segundaria" style="font-family: Montserrat-Bold; font-style: italic;">Montserrat-Bold Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-ExtraBold;">Montserrat-ExtraBold</h1>
  <h1 class="segundaria" style="font-family: Montserrat-ExtraBold; font-style: italic;">Montserrat-ExtraBold Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-Light;">Montserrat-Light</h1>
  <h1 class="segundaria" style="font-family: Montserrat-Light; font-style: italic;">Montserrat-Light Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-ExtraLight;">Montserrat-ExtraLight</h1>
  <h1 class="segundaria" style="font-family: Montserrat-ExtraLight; font-style: italic;">Montserrat-ExtraLight Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-Medium;">Montserrat-Medium</h1>
  <h1 class="segundaria" style="font-family: Montserrat-Medium; font-style: italic;">Montserrat-Medium Italic</h1>
  <h1 class="primaria" style="font-family: Montserrat-Thin;">Montserrat-Thin</h1>
  <h1 class="segundaria" style="font-family: Montserrat-Thin; font-style: italic;">Montserrat-Thin Italic</h1>
</ion-content>
